nav.pdoc {
    box-shadow: rgba(0, 0, 0, 20%) 0 0 1rem inset;
}

nav.pdoc .nav-header {
    margin-bottom: 1.5rem;
    width: calc(100% - 1rem);
}

nav.pdoc .nav-header .badges, nav.pdoc .nav-header .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 1.5rem;
    row-gap: 1rem;
}

nav.pdoc .nav-header .badges * {
    flex-shrink: 0;
}

nav.pdoc .nav-header .links a {
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    margin: -0.2rem -0.5rem;
}

nav.pdoc .nav-header .links a:hover {
    background-color: var(--nav-hover);
}

nav.pdoc .nav-header .links svg {
    height: 0.9rem;
    margin-right: 0.1rem;
    vertical-align: baseline;
}

.github svg {
    color: #24292f;
}

@media (prefers-color-scheme: dark) {
    .github svg {
        color: #fff;
    }
}

nav.pdoc > div > ul {
    margin-right: calc(0 - var(--pad));
}

nav.pdoc > div > ul > li {
    border-radius: 0.5rem;
    margin: 0 calc(0.25*var(--pad));
}

nav.pdoc > div > ul > li > a {
    padding-left: calc(0.75*var(--pad));
}

nav.pdoc ul.memberlist ul.memberlist {
    display: none;
}

section.module-info .docstring > p:first-of-type {
    font-size: 106.25%;
}

.pdoc p a:hover {
    text-decoration: underline;
    white-space: nowrap;
}

.module-info blockquote {
    border-left: 2px solid var(--accent);
    margin-left: 0;
    padding: 0.2rem 0 0.2rem calc(2rem - 2px);
}

.module-info blockquote p:last-of-type {
    margin-bottom: 0;
}

.pdoc .alert.note {
    color: var(--text);
    background: unset;
    border: none;
    border-left: 2px solid var(--link);
    border-radius: 0;
    padding: 0.2rem 0 0.2rem calc(2rem - 2px);
}

.pdoc .alert.note > em {
    display: initial;
    color: var(--link);
    font-style: normal;
}

.docstring > h6 {
    font-size: 87.5%;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.pdoc-code {
    background: unset;
}

.pdoc .docstring .pdoc-code {
    margin: 0;
}

.pdoc .attr {
    background-color: var(--code);
    margin: 0.75rem 0;
}

.pdoc pre, .pdoc .attr {
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 0.5rem 0.75rem 1rem;
}

.pdoc div:target > .attr,
.pdoc section:target > .attr {
    background-color: var(--code);
}
