name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: "3.13"

      - name: Install dependencies
        run: uv sync --dev

      - name: Run linting
        run: uv run ruff check --output-format=github

      - name: Check formatting
        run: uv run ruff format --check --output-format=github

      - name: Check typing
        run: uv run mypy

  test:
    needs: lint

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
        resolution: ["highest"]
        include:
          - python-version: "3.11"
            resolution: "lowest-direct"

    steps:
      - uses: actions/checkout@v6

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-suffix: ${{ matrix.resolution }}
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --dev --resolution ${{ matrix.resolution }}

      - name: Run tests
        run: uv run pytest
